{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">Please login to continue.</p>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                    <i class="bi bi-google"></i> Login with Google
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
