{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
        <style>
            pre {
                background-color: #f7f7f7;
                border: 1px solid #ddd;
                padding: 10px;
                border-radius: 4px;
                overflow-x: auto;
                white-space: pre-wrap; 
                max-height: 24em;
            }
                #chart-container {
                width: 100%;
                height: 400px; /* Adjust height as needed */
            }
        </style>
{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dashboard</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Select a group of data</label>
                            <select name="group" id="group" class="form-select">
                                <option value="">Select a group</option>
                                {% for group in groups %}
                                    <option value="{{group.id}}">{{group.id}} - {{group.executionDate | date}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary mt-3" id="seach">Search</button>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="col-6">
                        <pre id="json-data" class="content"></pre>
                    </div>
                    <div class="col-6">
                        <div class="container mt-2">
                            <div id="chart-container" class="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    (function() {
        $('.content').hide();
        $('.spinner-border').hide();

        const route = "{{ path('app_get_group_data')}}";

        $('#seach').click(() => {
            const group = $('#group').val();

            if(group === '' || group === undefined) {
                alert('Please select a group');
                return;
            }

            $.ajax({
                url: route,
                method: 'POST',
                data: {groupId: group},
                beforeSend: function( xhr ) {
                    $('.content').hide();
                    $('.spinner-border').show();
                }
            }).done(function(data){
                $('#json-data').html(JSON.stringify(data.data, null, 2));
                initializePieChart(data.osFormattedData);
                $('.content').show();
                $('.spinner-border').hide();
            });
        });



    })();

    function initializePieChart(chartData){
        Highcharts.chart('chart-container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Operating System'
            },
            series: [{
                name: 'Usage',
                data: chartData,
                innerSize: '50%', // Optional: For a donut chart
            }],
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    }
                }
            }
        });
    }
</script>
{% endblock %}

{% endblock %}
